body {
  margin: 0;
  padding: 0;
  background-color: gainsboro;
  overflow: hidden;
}

#container {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  transform-origin: center left;
}

#shooting-area {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  background-color: #CBF173;
}

.ball {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-left: -20px;
  margin-top: -20px;
}

#back-board {
  position: absolute;
  width: 15px;
  background-color: #C33C4D;
  height: 170px;
  left: 1000px;
  top: 230px;
}

#rim-front {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 900px;
  top: 385px;
  background-color: #F25541;
}

#rim-back {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 985px;
  top: 385px;
  background-color: #F25541;
}

#rim-middle {
  position: absolute;
  width: 70px;
  opacity: 0.2;
  height: 15px;
  left: 915px;
  top: 385px;
  background-color: #F25541;
}

#post {
  position: absolute;
  width: 15px;
  opacity: 0.1;
  height: 1000px;
  left: 1000px;
  top: 400px;
  background-color: black;
}

#score {
  position: fixed;
  top: 0;
  right: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 50px;
  user-select: none;
}

#title {
  position: fixed;
  top: 0;
  left: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 50px;
  user-select: none;
  z-index: 1;
}

a {
  position: fixed;
  bottom: 0;
  right: 15px;
}

#code {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 35px;
  z-index: 1;
}